@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <link rel="stylesheet" href="~/Content/Basic.css">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="background-color:rgba(24, 169, 231, 0.71)">
    <div class="container body-content" style="padding-top:100px; padding-left:300px; padding-right:300px;">
            <div style="text-align:center;">
                <img src="~/Images/LogaLoginV4.png" />
            </div>    
        <div class="col s1" style="height:600px;">
            <form action="@Url.Action("GetToken" , "Login", null)" method="post">
                <div class="card-panel z-depth-5" style="border-radius:10px !important; height:400px;">
                    <div style="text-align:center; margin-left:auto; margin-right:auto; padding-top:40px;">
                        <div class="row" style="margin-left:20%; margin-right:20%;">
                            <div class="input-field col s12">
                                <input name="username" type="text" class="validate">
                                <label class="active" for="username">User name</label>
                            </div>
                        </div>
                        <div class="row" style="margin-left:20%; margin-right:20%;">
                            <div class="input-field col s12">
                                <input name="password" type="password" class="validate">
                                <label class="active" for="password">Password</label>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center; padding-top:20px;">
                        <div class="row">
                            <input type="submit" value="Sign in" class="waves-effect waves-light btn topNav" style="width:160px;">
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</body>
</html>
