@media only screen and (max-width: 600px) {
   .contentPadding {
        padding-left:50px !important;
    }
}
.form {
    padding:30px !important;
}
.topNav{
    background-color:#18a9e7;
}
.sideNav{
    background-color:rgba(24, 169, 231, 0.71);
    text-align:center;
}
.topNavText{
    color:#ffffff;
}
.icons{
    color:#ffffff !important;
}
.contentPadding{
    padding-top:50px;
}