@media only screen and (max-width: 600px) {
   .contentPadding {
        padding-left:50px !important;
    }
    .LoginImageSize{
        width:200px !important;
    }
}
@media only screen and (max-width: 1280px){
    .something {
        padding-left:100px !important;
    }
}
@media only screen and (max-width: 980px) {
    .something {
        padding-left: 0px !important;
    }
}
@media only screen and (min-width: 1280px){
    .displaySize{
        display:none !important;
    }
    .ReSizeContainerOnBigSize{
        width:50% !important;
    }
}
.form {
    padding:30px !important;
}

.topNavText{
    color:#ffffff;
}
.icons{
    color:#ffffff !important;
}
.contentPadding{
    padding-top:50px;
}
.bajs{
    padding:50px;
}
