@{
    ViewBag.Title = "UpdateUsers";
}
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <link rel="stylesheet" href="~/Content/Basic.css">
</head>
<body>

    <div class="wrapper contentPadding">

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Delete User</h4>
                <p>Are you sure you whant to delete the user?</p>

                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Confirm</a>
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
        </div>



        <table class="striped">
            <thead>
                <tr>
                    <th data-field="id">Name</th>
                    <th data-field="name">Last Name</th>
                    <th data-field="price">Something</th>
                    <th data-field="acttion" style="text-align:right">action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                    <td style="text-align:right">
                        <a data-target="modal1" class="waves-effect waves-light btn modal-trigger" style="background-color:#ff0000"><i class="material-icons left">delete_forever</i>Delete</a>
                        <a class="waves-effect waves-light btn topNav"><i class="material-icons left">mode_edit</i>Edit</a>
                    </td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                    <td style="text-align:right">
                        <a data-target="modal1" class="waves-effect waves-light btn modal-trigger" style="background-color:#ff0000"><i class="material-icons left">delete_forever</i>Delete</a>
                        <a class="waves-effect waves-light btn topNav"><i class="material-icons left">mode_edit</i>Edit</a>
                    </td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                    <td style="text-align:right">
                        <a data-target="modal1" class="waves-effect waves-light btn modal-trigger" style="background-color:#ff0000"><i class="material-icons left">delete_forever</i>Delete</a>
                        <a class="waves-effect waves-light btn topNav"><i class="material-icons left">mode_edit</i>Edit</a>
                    </td>
                </tr>       
            </tbody>
        </table>
    </div>



    <script>
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            jQuery.noConflict();
            $('.modal-trigger').leanModal();
        });
    </script>

</body>
</html>
