@model AdminCorridorSystem.Models.ScheduleViewModal

        $(document).ready(function () {

            $('#calendar').fullCalendar({
                defaultDate: '2016-05-12',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'All Day Event',
                        start: '2016-05-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2016-05-07',
                        end: '2016-05-10'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-05-09T16:00:00'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-05-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2016-05-11',
                        end: '2016-05-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-05-12T10:30:00',
                        end: '2016-05-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2016-05-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-05-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2016-05-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2016-05-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2016-05-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2016-05-28'
                    }

<html>
<head>
    <title>Schedule</title>

    <style>
        body {
            
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <script type="text/javascript">

    var dt = new Date();
    var students = @Html.Raw(Json.Encode(Model.Schedule));

        $(document).ready(function () {
            

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },
                viewRender: function(view, element) {                                       
                    $('#calendar').fullCalendar('refetchEvents');
                },
                defaultDate: dt.getFullYear() + '-' + (dt.getMonth() + 1) + '-' + dt.getDate(),
                
                

        
            });
            for (var i = 0; i < students.length; i++) {
                var student = students[i];
                var newEvent = {
                    start: student.DTStart,
                    end: student.DTEnd,
                    allDay: false,
                    title: student.Summary
                };
                $('#calendar').fullCalendar('renderEvent', newEvent, true);
                
            }
            jQuery.noConflict();
            $('.modal-trigger').leanModal();
    });
        

        function createEvent() {
            title = $("#Title").val();
            status = $("#Status").val();
            start = $("#Start").val();
            end = $("#End").val();
            location.href = '@Url.Action("CreateEvent", "Home")?start=' + start + '&end=' + end + '&status=' + status + '&title=' + title;
        }

    </script>
    <div id="modal-create" class="modal">
        <div class="modal-content">
            <h4>Create new event</h4>
            <div class="row">
                <div class="input-field col s6">
                    <input value=" " id="Status" type="text" class="validate">
                    <label class="active" for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input value=" " id="Title" type="text" class="validate">
                    <label class="active" for="first_name">First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input value=" " id="End" type="text" class="validate">
                    <label class="active" for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input value=" " id="Start" type="text" class="validate">
                    <label class="active" for="email">Email</label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="createEvent()">Save</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
    </div>


    
    <div class="wrapper contentPadding">
    <div id='calendar'></div>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light red bottom-right modal-trigger modal-create" data-target="modal-create"><i class="material-icons">add</i></a>


</body>
</html>
